.head-con {
  margin-left: 50px;
  margin-bottom: 50px;
}

.weather-h2 {
  font-size: 30px;
}

.weather-title {
  font-size: 40px;
}

button {
  background-color: black;
  color: white;
  font-size: 30px;
  margin-left: 5px;
}

button:hover {
  background-color: tomato;
  color: black;
  cursor: pointer;
}
